.product {
  $blockName: &;
  display: flex;
  flex-direction: column;
  width: $productWidth;
  background: $mainColor;
  border: 1px solid $productBorberColor;
  border-radius: 5px;
  color: $textColor;
  font-size: 11px;
  font-weight: 400;
  padding: 30px 14px 20px;

  &__img {
    width: $productImgWidth;
    height: $productImgHeight;
    align-self: center;
    transition: transform 1s;

    &:hover {
      transform: scale($productImgScale);
      outline: 3px solid $productBorberColor;
      box-sizing: content-box;
      padding: $paddingOnScale 0;
      margin-top: -$paddingOnScale;
    }
  }

  &__title {
    $titleMarginTop: 45px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-top: $titleMarginTop;

    #{$blockName}__img:hover + & {
      margin-top: $titleMarginTop - $paddingOnScale;
    }
  }

  &__code {
    margin-top: 5px;
  }

  &__rating,
  &__price {
    @include flexJustify(space-between);
    align-items: center;
  }

  &__rating {
    margin-top: 15px;
  }

  &__price {
    align-items: baseline;
    margin-top: 20px;
  }

  &__number {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
  }

  &__buy {
    @include flexJustify(center);
    align-items: center;
    height: 40px;
    width: 170px;
    border: 1px solid $secondaryColor;
    border-radius: 5px;
    background: $secondaryColor;
    margin: 20px 0 -5px;
    color: $mainColor;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    transition: color 1s, background-color 1s;

    &:hover {
      background: $mainColor;
      color: $secondaryColor;
    }
  }
}

// .product__img:hover + .product__title {
//   margin-top: 30px;
//   font-size: 30px;
// }
